/* 
Basic pallette

Base+2 : #536F6F
Base+1 : #3B5555
Base   : #223333
Base-1 : #153030
Base-2 : #0A2626

*/

.App {
  text-align: center;
  padding: 20px 0 40px 0;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
